<div class="navbar-spacer"></div>
  <nav class="navbar">
      <div class="container">
        <span class="navbar-logo">Sara Weaver, AWB&copy;</span>
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="{{site.url}}/">About</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="{{site.url}}/scholarly-work/">Scholarly Work</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover">Downloads</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover">Contact</a>
          </li>
        </ul>
      </div>
  </nav>