{% include header.html %}

<body>

{% include main-nav.html %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


<div class="section">
    <div class="container">
        <div class="row">
            <div class="one-third column">
                <img src="{{site.url}}/assets/img/pentagon-gray.png">
                <h3 class="heading">thing 1</h3>
                <p>some clever and witty text goes here.</p>
            </div>
            <div class="one-third column">
                <img src="{{site.url}}/assets/img/pentagon-gray.png">
                <h3 class="heading">thing 2</h3>
                <p>some clever and witty text goes here.</p>
            </div>
            <div class="one-third column">
                <img src="{{site.url}}/assets/img/pentagon-gray.png">
                <h3 class="heading">thing 3</h3>
                <p>some clever and witty text goes here.</p>
            </div>
        </div>
    </div>
</div>

       
{% include footer.html %}
